Binary
Intermediate
/Runtime/Solution/PosixXCB/.vs
/Runtime/Solution/PosixXCB/*.vcxproj.user
/Runtime/Private/Video/D3D12/PTShader_*.h

Runtime/Solution/PosixMach/PTRuntime_PosixMach.xcworkspace/xcuserdata
Runtime/Solution/PosixMach/PTSystem_PosixMach.xcodeproj/xcuserdata
Runtime/Solution/PosixMach/PTSystem_PosixMach.xcodeproj/project.xcworkspace/xcuserdata
