/Runtime/Solution/Win32Runtime/.vs
/Runtime/Solution/Win32Desktop/.vs
/Runtime/Solution/Win32Desktop/PTSystem_Win32Desktop.vcxproj.user
/Intermediate
/Binary
/Runtime/Solution/PosixAndroid/.vs
/Example/TreeSum/Solution/TreeSum_Win32Desktop.vcxproj.user
/Example/MapReduce/Solution/MapReduce_Win32Desktop.vcxproj.user
/Runtime/Solution/PosixAndroid/PTSystem_PosixAndroid.vcxproj.user
/Runtime/Solution/PosixXCB/.vs
/BuildAll/Solution/PosixLinuxBionic/.vs
/Example/TreeSum/TreeSum_Win32Desktop.vcxproj.user
/Example/MapReduce/MapReduce_Win32Desktop.vcxproj.user
/BuildAll/Solution/PosixLinuxGlibc/.vs
/BuildAll/Solution/Win32Desktop/.vs
/BuildAll/Solution/Win32Runtime/.vs
/Runtime/Solution/PosixLinuxBionic/.vs
/Runtime/Solution/PosixLinuxBionic/PTSystem_PosixLinuxBionic.vcxproj.user
/Runtime/Solution/PosixLinuxGlibc/.vs
/BuildAll/Solution/PosixMach/.vs
/Runtime/Solution/PosixMach/.PTSystem_PosixMach.payload.desc
/Runtime/Solution/PosixMach/x86
/Runtime/Solution/PosixMach/ARM64
/Runtime/Solution/PosixMach/ARM
/Runtime/Solution/PosixMach/x64
